.footer-custom{
    display: flex;
    background-color: #F6A6C1;
    height: 235px;
    border-radius: 10px;
    align-items: top;
    flex-direction: row;
}

.footer-title{
    font-family: 'SeoulNamsan', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.footer-object{
    padding-left: 50px;
    padding-top: 25px;
}

.footer-row{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
}

.footer-link{
    font-family: 'SeoulNamsan', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}