.navbar-custom{
    display: flex;
    background-color: #F6A6C1;
    height: 52px;
    border-radius: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-link{
    font-family: 'SeoulNamsan', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-left: 25px;
    text-decoration: none;
    color: black;
}

.title-container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
}

.title-container:hover{
    cursor: pointer;
}

.title{
    font-family: 'SeoulNamsan', sans-serif;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 4px;
    padding-left: 20px;
}