.home-container{
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
}

.home-paragraph-image-container{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.home-paragraph{
    text-align: left;
    font-family: 'SeoulNamsan', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
    justify-content: center;
}

.home-image-container{
    position: relative;
    width: 600px;
    height: 260px;
    padding-left: 55px;
}

.home-image{
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 120%;
    max-height: 120%;
    object-fit: contain;
}